main#searchResult {
  width: 100%;
  box-sizing: border-box;
  padding: 6rem;

  .repos-table {
    margin-top: 2rem;
  }
}

.loading {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}